/**
 * @file
 * Font faces
 *
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *  http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;
 *
 * Since we're using Sass, you'll need to declare your font faces here, then you
 * can add them to the font variables in the _init.scss partial.
 */


@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Open-Sans';
    src: url(../fonts/opensans-regular.woff2) format('woff2'),
    url(../fonts/opensans-regular.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: 'Open-Sans';
    src: url(../fonts/opensans-italic.woff2) format('woff2'),
    url(../fonts/opensans-italic.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Open-Sans';
    src: url(../fonts/opensans-light.woff2) format('woff2'),
    url(../fonts/opensans-light.woff) format('woff');
}


@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: 'Open-Sans';
    src: url(../fonts/opensans-lightitalic.woff2) format('woff2'),
    url(../fonts/opensans-lightitalic.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: 'Open-Sans';
    src: url(../fonts/opensans-semibold.woff2) format('woff2'),
    url(../fonts/opensans-semibold.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Open-Sans';
    src: url(../fonts/opensans-bold.woff2) format('woff2'),
    url(../fonts/opensans-bold.woff) format('woff');
    font-display: swap;
}
