/**
 * @file
 * Action icons
 */

// Icon resize
.icon-resize-horiz,
.icon-resize-vert {
  &::before,
  &::after {
    width: 0.45em;
    height: 0.45em;
    content: "";
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-bottom: 0;
  }

  &::before {
    transform: translate(-50%, -90%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -10%) rotate(225deg);
  }
}

.icon-resize-horiz {
  &::before {
    transform: translate(-90%, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-10%, -50%) rotate(135deg);
  }
}

// Icon more
.icon-more-horiz,
.icon-more-vert {
  &::before {
    width: 3px;
    height: 3px;
    content: "";
    border-radius: 50%;
    background: currentColor;
    box-shadow: -0.4em 0, 0.4em 0;
  }
}

.icon-more-vert {
  &::before {
    box-shadow: 0 -0.4em, 0 0.4em;
  }
}

// Icon plus, minus, cross
.icon-plus,
.icon-minus,
.icon-cross {
  &::before {
    width: 100%;
    height: $icon-border-width;
    content: "";
    background: currentColor;
  }
}

.icon-plus,
.icon-cross {
  &::after {
    width: $icon-border-width;
    height: 100%;
    content: "";
    background: currentColor;
  }
}

.icon-cross {
  &::before {
    width: 100%;
  }

  &::after {
    height: 100%;
  }

  &::before,
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

// Icon check
.icon-check {
  &::before {
    width: 0.9em;
    height: 0.5em;
    content: "";
    transform: translate(-50%, -75%) rotate(-45deg);
    border: $icon-border-width solid currentColor;
    border-top: 0;
    border-right: 0;
  }
}

// Icon stop
.icon-stop {
  border: $icon-border-width solid currentColor;
  border-radius: 50%;

  &::before {
    width: 1em;
    height: $icon-border-width;
    content: "";
    transform: translate(-50%, -50%) rotate(45deg);
    background: currentColor;
  }
}

// Icon shutdown
.icon-shutdown {
  border: $icon-border-width solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;

  &::before {
    top: 0.1em;
    width: $icon-border-width;
    height: 0.5em;
    content: "";
    background: currentColor;
  }
}

// Icon refresh
.icon-refresh {
  &::before {
    width: 1em;
    height: 1em;
    content: "";
    border: $icon-border-width solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
  }

  &::after {
    top: 20%;
    left: 80%;
    width: 0;
    height: 0;
    content: "";
    border: 0.2em solid currentColor;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

// Icon search
.icon-search {
  &::before {
    top: 5%;
    left: 5%;
    width: 0.75em;
    height: 0.75em;
    content: "";
    transform: translate(0, 0) rotate(45deg);
    border: $icon-border-width solid currentColor;
    border-radius: 50%;
  }

  &::after {
    top: 80%;
    left: 80%;
    width: 0.4em;
    height: $icon-border-width;
    content: "";
    transform: translate(-50%, -50%) rotate(45deg);
    background: currentColor;
  }
}

// Icon edit
.icon-edit {
  &::before {
    width: 0.85em;
    height: 0.4em;
    content: "";
    transform: translate(-40%, -60%) rotate(-45deg);
    border: $icon-border-width solid currentColor;
  }

  &::after {
    top: 95%;
    left: 5%;
    width: 0;
    height: 0;
    content: "";
    transform: translate(0, -100%);
    border: 0.15em solid currentColor;
    border-top-color: transparent;
    border-right-color: transparent;
  }
}

// Icon delete
.icon-delete {
  &::before {
    top: 60%;
    width: 0.75em;
    height: 0.75em;
    content: "";
    border: $icon-border-width solid currentColor;
    border-top: 0;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &::after {
    top: $icon-border-width/2;
    width: 0.5em;
    height: $icon-border-width;
    content: "";
    background: currentColor;
    box-shadow: -0.25em 0.2em, 0.25em 0.2em;
  }
}

// Icon share
.icon-share {
  border: $icon-border-width solid currentColor;
  border-top: 0;
  border-right: 0;
  border-radius: $border-radius;

  &::before {
    top: 0.25em;
    left: 100%;
    width: 0.4em;
    height: 0.4em;
    content: "";
    transform: translate(-125%, -50%) rotate(-45deg);
    border: $icon-border-width solid currentColor;
    border-top: 0;
    border-left: 0;
  }

  &::after {
    width: 0.6em;
    height: 0.5em;
    content: "";
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-bottom: 0;
    border-radius: 75% 0;
  }
}

// Icon flag
.icon-flag {
  &::before {
    left: 15%;
    width: $icon-border-width;
    height: 1em;
    content: "";
    background: currentColor;
  }

  &::after {
    top: 35%;
    left: 60%;
    width: 0.8em;
    height: 0.65em;
    content: "";
    border: $icon-border-width solid currentColor;
    border-left: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

// Icon bookmark
.icon-bookmark {
  &::before {
    width: 0.8em;
    height: 0.9em;
    content: "";
    border: $icon-border-width solid currentColor;
    border-bottom: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &::after {
    width: 0.5em;
    height: 0.5em;
    content: "";
    transform: translate(-50%, 35%) rotate(-45deg) skew(15deg, 15deg);
    border: $icon-border-width solid currentColor;
    border-bottom: 0;
    border-left: 0;
    border-radius: $border-radius;
  }
}

// Icon download & upload
.icon-download,
.icon-upload {
  border-bottom: $icon-border-width solid currentColor;

  &::before {
    width: 0.5em;
    height: 0.5em;
    content: "";
    transform: translate(-50%, -60%) rotate(-135deg);
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-bottom: 0;
  }

  &::after {
    top: 40%;
    width: $icon-border-width;
    height: 0.6em;
    content: "";
    background: currentColor;
  }
}

.icon-upload {
  &::before {
    transform: translate(-50%, -60%) rotate(45deg);
  }

  &::after {
    top: 50%;
  }
}
