/**
 * @file
 * Navbar object
 *
 * @see: https://picturepan2.github.io/spectre/layout.html#navbar
 */

.o-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  &__section {
    display: flex;
    flex: 1 0 0;
    align-items: center;

    &:not(:first-child):last-child {
      justify-content: flex-end;
    }
  }

  &__center {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &__brand {
    text-decoration: none;
    font-size: $font-size-lg;
    font-weight: 500;
  }
}
