/**
 * @file
 * Button variant mixin
 */

@mixin button-variant($color: $primary-color) {
  color: $light-color;
  border-color: darken($color, 3%);
  background: $color;

  &:focus {
    @include control-shadow($color);
  }

  &:focus,
  &:hover {
    color: $light-color;
    border-color: darken($color, 5%);
    background: darken($color, 2%);
  }

  &:active,
  &.active {
    color: $light-color;
    border-color: darken($color, 10%);
    background: darken($color, 7%);
  }

  &.loading {
    &::after {
      border-bottom-color: $light-color;
      border-left-color: $light-color;
    }
  }
}

@mixin button-outline-variant($color: $primary-color) {
  color: $color;
  border-color: $color;
  background: $light-color;

  &:focus {
    @include control-shadow($color);
  }

  &:focus,
  &:hover {
    color: $color;
    border-color: darken($color, 2%);
    background: lighten($color, 50%);
  }

  &:active,
  &.active {
    color: $light-color;
    border-color: darken($color, 5%);
    background: $color;
  }

  &.loading {
    &::after {
      border-bottom-color: $color;
      border-left-color: $color;
    }
  }
}
