/**
 * @file
 * Label mixins
 */

// Label base style
@mixin label-base {
  padding: 0.1rem 0.2rem;
  border-radius: $border-radius;
  line-height: 1.2;
}

// Label variant
@mixin label-variant($color: $light-color, $bg-color: $primary-color) {
  color: $color;
  background: $bg-color;
}
