/**
 * @file
 * Avatars component
 *
 * Avatars are user profile pictures.
 * @see: https://picturepan2.github.io/spectre/components.html#avatars
 */

/**
 * Add the `c-avatar` class to `<img>` element.
 * There are 4 additional sizes available:
 *  - `c-avatar--xl: 64px,
 *  - `c-avatar--lg: 48px,
 *  - `c-avatar--sm: 24px,
 *  - `c-avatar--xs: 16px.
 * By default, the avatar size is 32px.
 *
 * For users who don't have profile pictures, you may use their initials for
 * avatars. Add the `c-avatar` class and avatar size class to `<div>` element.
 * The `data-initial` attribute is the name appear inside the avatar.
 */

.c-avatar {
  @include avatar-base();

  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  color: rgba($light-color, 0.85);
  border-radius: 50%;
  background: $primary-color;
  font-weight: 300;
  line-height: 1.25;

  &.c-avatar {
    &--xs {
      @include avatar-base($unit-4);
    }

    &--sm {
      @include avatar-base($unit-6);
    }

    &--lg {
      @include avatar-base($unit-12);
    }

    &--xl {
      @include avatar-base($unit-16);
    }
  }

  img {
    position: relative;
    z-index: $zindex-0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  /**
   * Avatar presence
   *
   * Avatars support presence indicators. You can add an `<i>` element with
   * the `c-avatar__presence` class, and add `.presence--online`,
   * `.presence--busy` or `.presence--away` class for different status colors.
   * The default is gray which means offline.
   * @see: https://picturepan2.github.io/spectre/components.html#avatars-presence
   */
  &__icon,
  &__presence {
    position: absolute;
    z-index: $zindex-0 + 1;
    right: 14.64%;
    bottom: 14.64%;
    width: 50%;
    height: 50%;
    padding: $border-width-lg;
    transform: translate(50%, 50%);
    background: $bg-color-light;
  }

  &__presence {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: $gray-color;
    box-shadow: 0 0 0 $border-width-lg $light-color;
  }

  &[data-initial]::before {
    position: absolute;
    z-index: $zindex-0;
    top: 50%;
    left: 50%;
    content: attr(data-initial);
    transform: translate(-50%, -50%);
    color: currentColor;
  }
}

.presence {
  &--online {
    background: $success-color;
  }

  &--busy {
    background: $error-color;
  }

  &--away {
    background: $warning-color;
  }
}
