/**
 * @file
 * Code component
 *
 * Code is used for multiline code snippets.
 * @see: https://picturepan2.github.io/spectre/elements.html#code
 */

/**
 * For inline code, you can use the `<code>`. For details please go to
 * `elements/codes`.
 * For multiline code snippet blocks, you can use `<pre>` with the `c-code`
 * class as a container, and add `<code>` inside it.
 * The `data-lang` attribute is rendered as the language name in the top right.
 */
.c-code {
  position: relative;
  color: $body-font-color;
  border-radius: $border-radius;

  &::before {
    position: absolute;
    top: $unit-h;
    right: $layout-spacing;
    content: attr(data-lang);
    color: $gray-color;
    font-size: $font-size-sm;
  }

  code {
    display: block;
    overflow-x: auto;
    width: 100%;
    padding: 1rem;
    color: inherit;
    background: $bg-color;
    line-height: 1.5;
  }
}
