/**
 * @file
 *** CODE COMPONENT ***
 *
 * Code is used for multiline code snippets.
 * @see: https://picturepan2.github.io/spectre/elements.html#code
 */




/**
 * For inline code, you can use the `<code>`. For details please go to
 * `elements/codes`.
 * For multiline code snippet blocks, you can use `<pre>` with the `c-code`
 * class as a container, and add `<code>` inside it.
 * The `data-lang` attribute is rendered as the language name in the top right.
 */

.c-code {
    position: relative;
    border-radius: $border-radius;
    color: $body-font-color;

    &::before {
        position: absolute;
        top: $unit-h;
        right: $layout-spacing;
        color: $gray-color;
        content: attr(data-lang);
        font-size: $font-size-sm;
    }

    code {
        display: block;
        overflow-x: auto;
        padding: 1rem;
        width: 100%;
        background: $bg-color;
        color: inherit;
        line-height: 1.5;
    }
}
