/**
 * @file
 * CONTACT COMPONENT
 */




.c-contact {
    margin-top: 0;
    margin-bottom: $unit-8;

    &__label,
    &__content {
        margin-bottom: $unit-3;
    }

    &__label {
        color: $light-color;
    }
}
