/**
 * @file
 * Header component
 */

.c-header {
  padding: $unit-4 * 2.5 $unit-4 $unit-4 * 0.1;
  text-align: center;

  @include media(xs) {
    padding: $unit-4 * 3 $unit-4 * 1.5 $unit-4 * 0.1;

    &.c-header--alt {
      padding: $unit-4 * 4 $unit-4 * 1.5 $unit-4;
    }
  }

  @include media(sm) {
    padding: $unit-4 * 3 $unit-4 * 2 $unit-4 * 0.1;

    &.c-header--alt {
      padding: $unit-4 * 4 $unit-4 * 2 $unit-4 * 0.1;
    }
  }

  @include media(md) {
    padding: $unit-4 * 4 $unit-4 * 3 $unit-4 * 0.1;

    br {
      display: block;
    }

    p {
      letter-spacing: -0.025em;
      font-size: 2.8rem;
    }
  }

  @include media(lg) {
    padding: $unit-4 * 4 $unit-4 * 4 $unit-4 * 0.1;

    &.c-header--alt {
      padding: $unit-4 * 6 $unit-4 * 4 $unit-4 * 3;
    }
  }

  @include media(xl) {
    padding: $unit-4 * 5 $unit-4 * 5 $unit-4;

    &.c-header--alt {
      padding: $unit-4 * 7 $unit-4 * 5 $unit-4 * 4 $unit-4 * 5;
    }
  }

  > * {
    transition: opacity 3s ease;
    transition-delay: 0.5s;
    opacity: 1;
  }

  h1 {
    margin: 0 0 ($unit-9 * 0.125) 0;
  }

  p {
    letter-spacing: 0;
    font-size: 1em;
  }

  &.c-header--alt {
    padding: $unit-4 * 3.5 $unit-4 $unit-4 * 0.5;

    @include media(md) {
      padding: $unit-4 * 5 $unit-4 * 3 $unit-4 * 2;

      h1 {
        font-size: 7.4rem;
      }
    }

    h1 {
      font-size: 4.2rem;
    }
  }

  body.is-preload & {
    &.c-header--alt {
      > * {
        opacity: 0;
      }
    }
  }
}
