/**
 * @file
 *** LOGO COMPONENT ***
 */




.c-logo {
    display: block;
    margin: 0 0 ($unit-9 * .75) 0;
    transition: opacity 1.25s ease,
    transform .5s ease;
    transition-delay: 0s;

    .c-logo__image {
        display: block;
        margin: 0 auto;
        max-width: 75%;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 9.6rem;
            height: 9.6rem;
            background: $warning-color;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-90%, -50%);
        }

        svg {
            fill: $light-color;
            position: relative;
            width: 12rem;
            height: 12rem;
        }
    }

    body.is-preload & {
        transform: scale(.8), rotate(-30deg);
    }
}
