/**
 * @file
 * Menu component
 *
 * Menus are vertical list of links or buttons for actions and navigation.
 * @see: https://picturepan2.github.io/spectre/components.html#menu
 */

/**
 * Add a container element with the `c-menu` class. And add child elements with
 * the `c-menu__item` class. You can separate menu items with a divider.
 */
.c-menu {
  @include shadow-variant(0.05rem);

  z-index: $zindex-3;
  min-width: $control-width-xs;
  margin: 0;
  padding: $unit-2;
  list-style: none;
  transform: translateY($layout-spacing-sm);
  border-radius: $border-radius;
  background: $bg-color-light;

  &.c-menu__nav {
    background: transparent;
    box-shadow: none;
  }

  &__item {
    margin-top: 0;
    padding: 0 $unit-2;
    user-select: none;
    text-decoration: none;

    & > a {
      display: block;
      margin: 0 (-$unit-2);
      padding: $unit-1 $unit-2;
      text-decoration: none;
      color: inherit;
      border-radius: $border-radius;

      &:focus,
      &:hover {
        color: $primary-color;
        background: $secondary-color;
      }

      &:active,
      &.is-active {
        color: $primary-color;
        background: $secondary-color;
      }
    }

    .form-checkbox,
    .form-radio,
    .form-switch {
      margin: $unit-h 0;
    }

    & + .menu-item {
      margin-top: $unit-1;
    }
  }

  &__badge {
    float: right;
    padding: $unit-1 0;

    .c-btn {
      margin-top: -$unit-h;
    }
  }
}
