/**
 * @file
 * Navigation component
 */

.c-navigation {
  position: absolute;
  display: none;
  width: $control-width-xl;
  max-width: calc(100% - #{$unit-16});
  padding: 1.8rem $unit-4;
  cursor: default;
  transition:
    background-color 0.2s ease,
    border-top-left-radius 0.2s ease,
    border-top-right-radius 0.2s ease,
    padding 0.2s ease;
  text-align: center;
  color: $dark-color;
  border-top-left-radius: $unit-2;
  border-top-right-radius: $unit-2;
  background-color: $gray-color-light;

  @include media(md) {
    display: block;
  }

  & + #main {
    padding-top: 0;

    @include media(md) {
      padding-top: $unit-9 * 2;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0 $unit-2;
    padding: 0;
    transition: margin 0.2s ease;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    height: $unit-9;
    padding: 0 $unit-5;
    transition: font-size 0.2s ease;
    border: 0;
    border-radius: $unit-2;
    box-shadow: inset 0 0 0 1px transparent;
    line-height: $unit-9;

    &:hover {
      color: $gray-color-dark;
      background-color: $light-color;
    }

    &.is-active {
      background-color: $light-color;
      box-shadow: none;
    }
  }

  // fixed on top when we scroll to #main
  &.c-navigation--alt {
    position: fixed;
    z-index: $zindex-9;
    top: 0;
    padding: $unit-2 $unit-4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: transparentize($gray-color-light, 0.05);

    li {
      margin: 0 $unit-h;
    }

    a {
      font-size: $font-size-sm;
    }
  }
}
