/**
 * @file
 * Statistics component
 */

.c-statistics {
  flex-direction: column;
  max-width: $unit-8 * 10;
  margin: 0 auto $unit-8;
  list-style: none;

  @include media(md) {
    flex-direction: row;
    max-width: inherit;
  }

  &__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: $unit-7;
    text-align: center;
    color: $light-color;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      @include media(md) {
        border-top-right-radius: 0;
        border-bottom-left-radius: $border-radius;
      }
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;

      @include media(md) {
        border-top-right-radius: $border-radius;
        border-bottom-left-radius: 0;
      }
    }

    &.t-style-1 {
      background: $success-color;
    }

    &.t-style-2 {
      background: $warning-color;
    }

    &.t-style-3 {
      background: $error-color;
    }

    &.t-style-4 {
      background: $primary-color;
    }

    &.t-style-5 {
      background: $success-color;
    }

    .icon {
      display: block;
      width: auto;
      max-width: 100%;
      height: 4.4rem;
      margin-bottom: $unit-3;
      fill: $light-color;
    }
  }

  &__number {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.1;
  }
}
