/**
 * @file
 * Tabs component
 *
 * Tabs enable quick switch between different views.
 * @see: https://picturepan2.github.io/spectre/components.html#tabs
 */

/**
 * Add a container element with the `c-tab` class. And add child elements with
 * the `c-tab__item` class. You can add the `c-tab--block` class for a
 * full-width tab. The `c-tab__item` or its child `<a>` with the `is-active`
 * class will be highlighted.
 */
.c-tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: $unit-1 0 ($unit-1 - $border-width) 0;
  list-style: none;
  border-bottom: $border-width solid $border-color;

  &__item {
    margin-top: 0;

    a {
      display: block;
      margin: 0 $unit-2 0 0;
      padding: $unit-2 $unit-1 $unit-2 - $border-width-lg $unit-1;
      text-decoration: none;
      color: inherit;
      border-bottom: $border-width-lg solid transparent;

      &:focus,
      &:hover {
        color: $link-color;
      }
    }

    &.is-active a,
    a.is-active {
      color: $link-color;
      border-bottom-color: $primary-color;
    }

    /**
     * You could add a search box or buttons inside a tab. Add the
     * `c-tab__item--action` class to the `c-tab__item`.
     */
    &.c-tab__item--action {
      flex: 1 0 auto;
      text-align: right;
    }

    .c-btn-clear {
      margin-top: -$unit-1;
    }
  }

  &.c-tab--block {
    .c-tab__item {
      flex: 1 0 0;
      text-align: center;

      a {
        margin: 0;
      }

      /**
       * If you need badges on tabs, you can add `c-badge` class to the
       * element within `c-tab__item`.
       */
      .c-badge {
        &[data-badge]::after {
          position: absolute;
          top: $unit-h;
          right: $unit-h;
          transform: translate(0, 0);
        }
      }
    }
  }

  &:not(.c-tab--block) {
    .c-badge {
      padding-right: 0;
    }
  }
}
