/**
 * @file
 *** CURSOR UTILITY ***
 */




.u-cursor--hand {
    cursor: pointer;
}

.u-cursor--move {
    cursor: move;
}

.u-cursor--zoom-in {
    cursor: zoom-in;
}

.u-cursor--zoom-out {
    cursor: zoom-out;
}

.u-cursor--not-allowed {
    cursor: not-allowed;
}

.u-cursor--auto {
    cursor: auto;
}
