/**
 * @file
 *** DISPLAY UTILITY ***
 */




.u-block {
    display: block;
}

.u-inline {
    display: inline;
}

.u-inline-block {
    display: inline-block;
}

.u-flex {
    display: flex;
}

.u-inline-flex {
    display: inline-flex;
}

.u-none,
.u-hide {
    display: none !important;
}

.u-visible {
    visibility: visible;
}

.u-invisible {
    visibility: hidden;
}

.u-text-hide {
    border: 0;
    background: transparent;
    color: transparent;
    text-shadow: none;
    font-size: 0;
    line-height: 0;
}

.u-text-assistive {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}
