/**
 * @file
 * Loading utility
 */

.u-loading {
  position: relative;
  min-height: $unit-4;
  pointer-events: none;
  color: transparent !important;

  &::after {
    position: absolute;
    z-index: $zindex-0;
    top: 50%;
    left: 50%;
    display: block;
    width: $unit-4;
    height: $unit-4;
    margin-top: -$unit-2;
    margin-left: -$unit-2;
    content: "";
    animation: loading 500ms infinite linear;
    border: $border-width-lg solid $primary-color;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
  }

  &.u-loading--lg {
    min-height: $unit-10;

    &::after {
      width: $unit-8;
      height: $unit-8;
      margin-top: -$unit-4;
      margin-left: -$unit-4;
    }
  }
}
