/**
 * @file
 * Text utility
 */

// Text alignment utilities
.u-text--left {
  text-align: left;
}

.u-text--right {
  text-align: right;
}

.u-text--center {
  text-align: center;
}

.u-text--justify {
  text-align: justify;
}

// Text transform utilities
.u-text--lowercase {
  text-transform: lowercase;
}

.u-text--uppercase {
  text-transform: uppercase;
}

.u-text--capitalize {
  text-transform: capitalize;
}

// Text style utilities
.u-text--normal {
  font-weight: normal;
}

.u-text--bold {
  font-weight: bold;
}

.u-text--italic {
  font-style: italic;
}

.u-text--large {
  font-size: 1.2em;
}

// Text overflow utilities
.u-text--ellipsis {
  @include text-ellipsis;
}

.u-text--clip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.u-text--break {
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
