/**
 * @file
 * Base
 */

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  line-height: $html-line-height;
}

body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  color: $body-font-color;
  background: $body-bg;
  font-size: $font-size;

  .fonts-loaded & {
    font-family: $body-font-family;
  }
}

a {
  transition:
    color 0.2s ease,
    border-bottom 0.2s ease;
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px;
  outline: none;

  &:focus {
    @include control-shadow();
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: $light-color;
    border-bottom-color: transparent;
  }

  &:visited {
    color: inherit;
  }
}
